/* Reset */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}
/* Font */
* {
    font-family: "Urbanist";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #1C343E;
}
/* Formatações gerais */
a {
    text-decoration: none;
}

/* Formatação do Body */
body {
    min-height: 100vh;
    background: #F3DCB4;
}
main {
    display: flex;
    justify-content: center;
}
section {
    margin: 2vw;
    width: 40%;
}
.grande {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
ul {
    display: flex;
}
ul li {
    margin: 0 10px;
}
button {
    margin: 0 10px;
}
.topo {
    display: flex;
    background: rgba(0,0,0,0.4);
    height: 50px;
    align-items: center;
}
.subTopo {
    background: rgba(0,0,0,0.2);
}