* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}
/* Font */
* {
    font-family: "Urbanist";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
}
body { 
    background: #F3DCB4; /* COR TEMPORARIA */
    min-height: 100vh;
}
.outTools main section {
    width: 40%;
    margin: 2vw;
    overflow: hidden;
    border-radius: 15px;
}
main {
    display: flex;
    justify-content: center;
}
.calendario {
    background: #FFFFFF;
    border-radius: 15px;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin: 0 15px;
}
button span {
    font-size: 20px;
}

.topo {
    width: 100%;
    height: 60px;
    background: #1C343E;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo {
    font-size: 26px;
}
.detalhes {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #FB643D;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.detalhes div {
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
}
#calendar {
    width: calc(100% - 20px);
    display: grid;
    margin: 10px;
    margin-bottom: 25px;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 75px);
    flex-wrap: wrap;
    font-size: 25px;
}
.day {
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: rgba(0,0,0,0.6);
    transition: 0.2s;
}
.day:hover {
    background-color: rgba(0,0,0,0.2); 
}

.day + #currentDay {
    background-color: rgba(0,0,0,0.2);
}
.padding {
    cursor: default !important;
    background-color: transparent !important;
}
.criarFechar {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: -2px;
    border-radius: 50%;
    background: #FB643D;
}
.criarFechar span {
    transition: 0.4s linear;
}
.criarFechar.fechar span {
    transform: rotate(45deg);
}
.lista .topo {
    justify-content: end;
}
.lista .topo h2 {
    margin-right: calc(50%);
    transform: translateX(50%);
}
.lista .detalhes {
    display: flex;
    justify-content: end;
    border-radius: 0 0 15px 15px;
    margin-bottom: 15px;
}
.lista .detalhes:last-child {
    border-radius: 15px;
}
.lista .detalhes h3 {
    margin-right: calc(50%);
    transform: translateX(50%);
}
.lista .detalhes button {
    position: absolute;
    transform: rotateX(180deg);
}