* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}
/* Font */
* {
    font-family: "Urbanist";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
}
body { 
    background: #F3DCB4; /* COR TEMPORARIA */
    min-height: 100vh;
}
.outTools main section {
    width: 40%;
    margin: 2vw 1vw;
    overflow: hidden;
    border-radius: 15px;
}
main {
    display: flex;
    justify-content: center;
}
.calendario {
    background: #FFFFFF;
    border-radius: 15px;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin: 0 15px;
}
button span {
    font-size: 20px;
}

.topo {
    width: 100%;
    height: 60px;
    background: #1C343E;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo {
    font-size: 26px;
}
.detalhes {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #FB643D;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.detalhes div {
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
}
#calendar {
    width: calc(100% - 20px);
    display: grid;
    margin: 10px;
    margin-bottom: 25px;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 75px);
    flex-wrap: wrap;
    font-size: 25px;
}
.day {
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: rgba(0,0,0,0.6);
    transition: 0.2s;
}
.day:hover {
    background-color: rgba(0,0,0,0.2); 
}

.day + #currentDay {
    background-color: rgba(0,0,0,0.2);
}
.padding {
    cursor: default !important;
    background-color: transparent !important;
}

.criarFechar {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: -2px;
    border-radius: 50%;
    background: #FB643D;
}
.criarFechar span {
    transition: 0.2s ease;
}
.criarFechar.fechar span {
    transform: rotate(45deg);
}
.lista::before {
    position: absolute;
    content: "";
    background: #FB643D;
    margin-top: 60px;
    height: 15px;
    width: 40%;
}
.lista .topo {
    justify-content: end;
}
.lista .topo h2 {
    margin-right: calc(50%);
    transform: translateX(50%);
}
.lista .detalhes {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    border-radius: 15px;
}
.lista .detalhes h3 {
    margin-right: calc(50%);
    transform: translateX(50%);
}
.lista .detalhes span {
    font-size: 20px;
    margin: 0 10px;
    position: absolute;
    transform: rotateX(180deg);
}
.lista .detalhes:first-child {
    height: 40px;
}
/* FORM */
input {
    text-align: center;
    outline: none;
    width: 40%;
    height: 40px;
    background: transparent;
    border-radius: 15px;
    color: #FB643D;
    padding: 10px;
    font-size: 17px;
}
form {
    overflow: hidden;
    height: 0; /* Tamanho ajustavel */
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
}
form.aberto {
    height: auto;
}
form label {
    text-align: center;
    color: #1C343E;
    width: 30%;
    margin: 0 10%;
}
form .linha {
    display: flex;
    padding: 10px;
    margin: 15px 25px;
    background: rgba(0,0,0,0.1);
    border-radius: 25px;
    align-items: center;
}
form .linha.data div {
    overflow: hidden;
    width: 40%;
    display: flex;
    justify-content: end;
    border-radius: 15px;
    border: 2px solid #FB643D;
}
form .linha.data div input {
    position: absolute;
    border: 2px none;
    height: 36px;
    width: calc(50% - 80px);
}
form .linha.data button {
    position: relative;
    margin: 0;
    width: 36px;
    height: 36px;
    background: #FB643D;
}
form .linha.data button::after {
    font-size: 18px;
    content: "S";
}
form .linha.data button.tarefa {
    width: 100%;
}
form .linha.data button.tarefa::after {
    content: "Sem data";
}
form .linha input {
    border: 2px solid #FB643D;
}
form .final {
    margin: 10px 0;
    display: flex;
    justify-content: end;
}
form .final .buttonSubmit {
    margin: 0;
    margin-bottom: -10px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 0;
    background: #FC7755;
}