* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-family: Arial;
    font-size: 18px;
    color: #1E1E1E;
}
body {
    justify-content: center;
}
button {
    cursor: pointer;
    outline: none;
}
button:active span {
    scale: 75%;
}
input {
    outline: none;
}
/* -----------------------
        HEADER
----------------------- */

header {
    display: flex;
    justify-content: center;
}
header nav {
    top: 10px;
    position: fixed;
    overflow: hidden;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 60%;
    min-width: 350px;
}
header nav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
header nav ul .titulo-Pagina {
    font-size: 20px;
}
header nav ul .li-button-Abrir-Fechar-Form {
    right: 0;
    position: absolute;
}
header nav ul .li-button-Abrir-Fechar-Form button {
    height: 50px;
    width: 80px;
    background: #33B249;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    transition: background 0.4s;
}
header nav ul .li-button-Abrir-Fechar-Form button span {
    background: transparent;
    transition: 
    0.4s ease,
    scale 0s
    ;
}
header nav ul .li-button-Abrir-Fechar-Form .button-Abrir-Form.fechar {
    background: #D22E2E;
}
header nav ul .li-button-Abrir-Fechar-Form .button-Abrir-Form.fechar span {
    transform: rotate(45deg);
}
/* -----------------------
        MAIN
----------------------- */
main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -----------------------
        FORM
----------------------- */
.section-form {
    position: fixed;
    width: 40%;
    overflow: hidden;
    top: -475px;
    min-width: 650px;
    height: 50%;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 
        top 1s,
        opacity 0.5s,
        visibility 0.5s
    ;
}
.section-form.opacito {
    top: 75px;
    opacity: 1;
}
.section-form .form-topo {
    background: #A1A1A1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-form .form-corpo {
    margin: 6% 3vw;
}
.section-form .form-corpo div {
    display: flex;
    align-items: center;
    
}
.section-form .form-corpo .linha-form-corpo {
    margin-bottom: 6%;
    
}
.section-form .form-corpo input {
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.section-form .form-corpo .linha-form-corpo.data div {
    width: 300px;
    height: 40px;
    margin-right: 2vw;
    justify-content: end;
}
.section-form .form-corpo .linha-form-corpo.data div input {
    width: 260px;
    position: absolute;
    z-index: 50;
    margin-right: 40px;
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.section-form .form-corpo .linha-form-corpo.data div button {
    background: #4681F4;
    z-index: 100;
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0 10px 10px 0;
    transition:
        border-radius 0.4s,
        width 0.4s
    ;
}
.section-form .form-corpo .linha-form-corpo.data div button::after {
    content: "T";
}
.section-form .form-corpo .linha-form-corpo.data div .buttonTarefa {
    width: 300px;
    border-radius: 10px;
}

.section-form .form-corpo .linha-form-corpo.data div .buttonTarefa::after {
    animation: palavras-button 0.7s both; 
}
@keyframes palavras-button {
    0% {
        content: "T";
    }
    20% {
        content: "Ta";
    }
    40% {
        content: "Tar";
    }
    60% {
        content: "Tare";
    }
    80% {
        content: "Taref ";
    }
    100% {
        content: "Tarefa";
    }
}
.section-form .form-corpo .linha-form-corpo.prova input, .linha-form-corpo.linha-form-corpo.disciplina input {
    width: 300px;
    border-radius: 10px;
    margin-right: 2vw;
}
.section-form .form-corpo .linha-form-corpo label {
    width: 40%;
}
.section-form .button-submit-form {
    background: #33B249;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 0;
    border-bottom: 0;
}
/* ERROR */
.section-form .form-corpo .linha-form-corpo .input.error {
    border: 2px solid #D22E2E;
}
/* -----------------------
        DATAS
----------------------- */
section h2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
}
.section-datas {
    margin-top: 75px;
    width: 40%;
}
.section-datas .linha-data {
    width: 100%;
    overflow: hidden;
    margin: 15px 0 5px 0;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    justify-content: space-between;
}
.section-datas .linha-data div {
    align-items: center;
    display: flex;
}
.section-datas .linha-data .valores-data {
    width: 100%;
    height: 50px;
}
.section-datas .linha-data .valores-data p {
    padding: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.section-datas .linha-data .botoes-data button {
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    background: #A1A1A1;
    transition: background 0.4s;
}
.section-datas .linha-data .botoes-data .button-lixeira:hover {
    background: #D22E2E;
}
/* -----------------------
        FOOTER
----------------------- */

footer {
    position: absolute;
    margin: 0 20%;
    width: 60%;
    min-width: 350px;
    bottom: 10px;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div {
    margin: 0 10px;
}
footer div p {
    font-size: 14px;
}
footer a span {
    font-size: 30px;
}